.requisites-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

  .requisites__item {
    margin: 5px 0;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
  }

  .requisites-wrapper__map {
      margin-top: 20px;
  }
}